[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.Laba2
Exec=/usr/bin/ru.template.Laba2
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=Laba2
ExecDBus=/usr/bin/ru.template.Laba2
